.latin {
	font-size: 12px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000066;
}
a:link {
	color: #000066;
	text-decoration: none;
}
a:visited {
	color: #000066;
	text-decoration: none;
}
a:hover {
	color: #FFFFFF;
	text-decoration: none;
}
a:active {
	color: #FFFFFF;
	text-decoration: none;
}
.indvheads {
	color: #775E2F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	text-decoration: none;
}
body.gsafcustom {
	background-color: #E9D3A7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000066;
	padding-right: 10px;
}
.grouptitles {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: bold;
	text-transform: capitalize;
	color: #000066;
}
.whtbrdr {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}

.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
	background-color: #F8F2E5;
}

h3 {
    font-size: 12px;
}

ol.breadcrumb {
    font-size: 14px;
}

div.header {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: right;
}

table.incident-list tbody tr {
    cursor: pointer;
}
.incident-list-container table.incident-list th.fatal {
    width: 6em !important;
}

.please-wait {
    background-image:url('/assets/images/loadinfo_gsaf.net.gif');
}

ol.breadcrumb {
    font-size: 11px;
}

.btn {
    font-size: 11px;
}

.dropdown-menu {
    font-size: 11px;
}
