.jumbotron {
    background-image: url(/assets/images/jumbotron_sharks.jpg);
    background-size: cover;
}

.navbar {
    margin-bottom: 0px;
}

.social-media-buttons {
    display: block;
    position: absolute;
    height: 80px;
    min-width: 300px;
    text-align: right;
}

.social-media-buttons > div {
    padding-right: 1em;
    display: inline;
    float: right;
}

.social-media-buttons > div.twitter {
    padding-top: 1px;
}

div.page-header a {
    color: white
}

table.incident-list th.date {
    width: 8em;
}
table.incident-list tbody tr {
    cursor: pointer;
}
table.place-summary {
    width: 20em;
}
table.place-summary th {
    width: 8em;
}

div.attack-place-summary div.charts div {
    float: left;
}

div.main-timeline-graph {
    width: 100%;
    height: 400px;
}

div.attack-place-summary div.charts .pie-chart {
    height: 200px;
}

.area-page div.charts .pie-chart {
    width: 390px;
}

.country-overview-page div.charts .pie-chart {
    width: 100%;
}

.please-wait{
    background-image:url('/assets/images/loadinfo_sharkattackdata.net.gif');
}

.badge {
    background-color: #333;
}

.places-page .list-group .list-group-item-text .summary-figure {
    display: inline-block;
    margin-right: 1em;
}

.places-page .list-group .list-group-item-text {
    font-size: small;
}

.places-page .list-group-item h4 {
    color: #df691a;
}

.places-page .list-group-item h4:hover {
    text-decoration: underline;
}

.places-page .list-group .progress {
    margin-top: 0.2em;
}

.indicator-provoked {
    background-color: #2B3E50;
}

.indicator-non-fatal-and-unprovoked {
    background-color: #5C8270;
}

.indicator-fatal-and-unprovoked {
    background-color: #B50000;
}

.world-map-widget {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}
