<div class="incident-list-container please-wait">
  <div>
    <div class="filter-state-summary pull-left" data-bind="text: filterStateSummary"></div>
    <div class="filter-buttons pull-right">
      <div class="btn-group filter-on-fatal">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	  <span data-bind="text: filterDropdownFatalState"></span> <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
	  <li><a href="#" id="fatal-only" data-bind="text: filterStatuses_fatal.fatal_only"></a></li>
	  <li><a href="#" id="non-fatal-only" data-bind="text: filterStatuses_fatal.non_fatal_only"></a></li>
	  <li><a href="#" id="fatal-and-non-fatal" data-bind="text: filterStatuses_fatal.fatal_and_non_fatal"></a></li>
	</ul>
      </div>
      <div class="incident-type-selector-container">
	<select id="incident-type-selector" multiple="multiple" data-bind="options: incidentTypes, selectedOptions: selectedIncidentTypes">
	</select>
      </div>
    </div>
  </div>
  <table class="table table-striped table-hover incident-list">
    <thead>
      <tr>
	<th class="date">Date</th>
	{% if not area %}
	<th class="area">Area</th>
	{% endif %}
	<th class="location">Location</th>
	<th class="activity">Activity</th>
	<th class="unprovoked">Incident Type</th>
	<th class="fatal">Fatal?</th>
	<th class="details"></th>
      </tr>
    </thead>
    <tbody data-bind="foreach: attacksFiltered">
      <td data-bind="text: dateUserFriendly, css: { 'approx-date': dateIsApproximate }"></td>
      {% if not area %}
      <td data-bind="text: area"></td>
      {% endif %}
      <td data-bind="text: location"></td>
      <td data-bind="text: activity"></td>
      <td data-bind="text: incidentType"></td>
      <td data-bind="text: fatalUserFriendly"></td>
      <td class="details"><a href="#" data-bind="attr: { href: detailsUrl, title: 'View incident details...' }">Details</a></td>
    </tbody>
  </table>
  <!-- ko if: noAttacksMatchFilterSettings -->
  <div class="text-center">No incidents match the current filter settings.</div>
  <!-- /ko -->
</div>
