{% autoescape true %}

<p>
  Displaying shark attacks that have occurred in {{ area.name }}, {{ country.name }}.
  Total: {{ totalAttacksCount }}. Fatal: {{ totalFatalCount }}, Unprovoked: {{ totalUnprovokedCount }},
  Fatal and unprovoked: {{ totalFatalUnprovokedCount }}
</p>



<table class="table table-striped incident-list">
  <tbody>
    <thead>
      <th class="date">Date</th>
      <th>Location</th>
      <th>Activity</th>
      <th></th>
    </thead>
    {% for attack in attacks %}
    <tr>
      <td>{{ attack.date_userfriendly }}</td>
      <td>{{ attack.location }}</td>
      <td>{{ attack.activity }}</td>
      <td><a href="/attack/{{ attack.key.id() }}">Details</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endautoescape %}

