<p>
  Welcome to Shark Attack Data. On this site, you will find a complete catalogue of all known shark attacks.<sup><a href="#fn1" id="ref1">1</a></sup>
</p>

<p>
Start by having a look at <a href="/place">shark attacks by location</a>.
</p>

<p>
   The purpose of this site is to provide a simple way to access the data compiled by the Shark Attack Research institute's Global Shark Attack File (GSAF). The GSAF provides information on current and historical on shark/human interactions. The authors of the GSAF make their extensive information available for download in an Excel spreadsheet but do not currently provide a web interface. This site attempts to make it easy to analyse the GSAF, allowing its contents to be explored in a web browser. 
</p>

<p>
  Currently, shark attacks are grouped by country and then, within each country, the area in which attacks have occurred. We are currently investigating other ways to allow the data to be browsed and queried. Suggestions are welcome; if you have one, please <a href="mailto:contact@sharkattackdata.com?Subject=[SharkAttackData]" target="_top">get in touch</a>!
</p>

<p>
  Thanks to the <a href="http://www.sharkattackfile.net/">Shark Research Institute</a> for compiling the data on which this web site is based.
</p>

<hr></hr>

<sup id="fn1">1. With some exceptions, for example, incidents occurring in connection with wartime events.<a href="#ref1" title="Jump back to footnote 1 in the text.">↩</a></sup>
