<p>
  Welcome to Shark Attack Data. The aim of this website is to increase understanding, and promote an informed discussion on the subject of shark attacks; when, where and how they occur. Through visualisation of the data, it aims to help identify where patters exist, in terms of both geography and time.
</p>

<p>
Start by having a look at <a class="btn btn-primary" href="/place">Incidents by country</a>
</p>

<hr></hr>

<h4>Unprovoked incidents worldwide</h4>
<div class="world-map-widget"></div>

<hr></hr>

<p>
   All of the data on this site comes from the Global Shark Attack File (GSAF), a spreadsheet compiled by the <a href="http://www.sharkattackfile.net/">Shark Attack Research Institute</a>. The GSAF provides information on current and historical on shark/human interactions. This site attempts to make it easy to analyse the GSAF, allowing its contents to be explored in a web browser. 
</p>

<p>
  Currently, shark attacks are grouped by country and then, within each country, the area in which attacks have occurred. We are currently investigating other ways to allow the data to be browsed and queried. Suggestions are welcome; if you have one, please <a href="mailto:contact@sharkattackdata.com?Subject=[SharkAttackData]" target="_top">get in touch</a>!
</p>

<hr></hr>
