<!DOCTYPE html>
<html>

{% include "/templates/sharkattackdata/head.html" %}

<body>
  <div class="container">
    <div class="background" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;">
      <!-- <img src="" class="image" alt="background"> -->
    </div>
    <div class="row">
      <div class="jumbotron">
	<h1>Shark Attack Data</h1>
	<p class="lead">Shark Attacks: The Database</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
	{% include "/templates/common/breadcrumbs.html" %}
	{% include subtemplate %}
      </div>
    </div>
  </div>
  
  {% include "/templates/common/analytics.html" %}

</body>
</html>

