<head>
  <meta name="google-site-verification" content="UEHQG9MypmesFNDI_h39ryB0_5GPIEnfR9j4N1iTmCE" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title }}</title>
  <!-- Bootstrap compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/superhero/bootstrap.min.css">
  
  <!-- SharkAttackData styles -->
  <link rel="stylesheet" href="/assets/style/common.css">
  <link rel="stylesheet" href="/assets/style/sharkattackdata.css">
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

  <!-- Bootstrap compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <!-- Google AJAX API -->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <script src="/assets/script/sharkAttackData.js"></script>
</head>
