<h3>Links</h3>

<ul>
  <li>
    <a href="http://www.sharkattackfile.net/">Global Shark Attack File</a>
  </li>
  <li>
    <a href="http://www.sharks.org/">Shark Research Institute</a>
  </li>
  <li>
    <a href="http://www.washarkattacks.net/">Shark attacks and whale migration in Western Australia</a>
  </li>
  <li>
    <a href="http://taronga.org.au/animals-conservation/conservation-science/australian-shark-attack-file/australian-shark-attack-file">Australian Shark Attack File</a>
  </li>
  <li>
    <a href="http://www.dfg.ca.gov/marine/whiteshark.asp">California Department of Fish and Wildlife: White Shark Information</a>
  </li>
</ul>
