<!DOCTYPE html>
<html>

{% include "/templates/sharkattackdata/head.html" %}

<body>
  
  <div class="social-media-buttons">
    {% include "/templates/sharkattackdata/social_media_buttons.html" %}
  </div>

  <header class="jumbotron subhead">
    <h1><a href="/">Shark Attack Data</a></h1>
    <p class="lead">Shark Attacks: The Database</p>
  </header>
  <div class="container">
    <div class="row">
      <div class="span12">
	{% include "/templates/common/breadcrumbs.html" %}
	{% include subtemplate %}
      </div>
    </div>
  </div>
  
  {% include "/templates/common/analytics.html" %}

</body>
</html>

