<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="UEHQG9MypmesFNDI_h39ryB0_5GPIEnfR9j4N1iTmCE" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title }}</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/superhero/bootstrap.min.css">
  
  <!-- SharkAttackData styles -->
  <link rel="stylesheet" href="/assets/style/common.css">
  <link rel="stylesheet" href="/assets/style/sharkattackdata.css">
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="background" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;">
      <!-- <img src="http://www.pixeloak.net/themes/espresso/img/010.jpg" class="image" alt="background"> -->
    </div>
    <div class="page-header">
      <h1><a href="/">Shark Attack Data</a></h1>
      <p class="lead">A browseable Global Shark Attack File</p>
    </div>
    <div class="row">
      <div class="col-sm-3 blog-sidebar">
        <div class="sidebar-module">
	  <ul class="nav">
            <li><a href="/place">Shark Attacks by location</a></li>
	  </ul>
        </div>
      </div>
      <div class="col-sm-8">
	{% include "/templates/common/breadcrumbs.html" %}
	{% include subtemplate %}
      </div>
    </div>
  </div>
  
  {% include "/templates/common/analytics.html" %}

</body>
</html>

