<div class="attack-place-summary">
  <h4>Unprovoked counts</h4>
  <table class="table table-striped place-summary">
    <tr>
      <th>Unprovoked (total)</th>
      <td data-bind="text: summaryStats.unprovokedCount"></td>
    </tr>
    <tr>
      <th>Non-fatal and unprovoked</th>
      <td data-bind="text: summaryStats.nonFatalAndUnprovokedCount"></td>
    </tr>
    <tr>
      <th>Fatal and unprovoked</th>
      <td data-bind="text: summaryStats.fatalAndUnprovokedCount"></td>
    </tr>
  </table>

  <h4>Provoked/invalid/sea disaster/boating counts</h4>
  <table class="table table-striped place-summary">
    <tr>
      <th>Provoked/invalid/sea disaster/boating (total)</th>
      <td data-bind="text: summaryStats.notUnprovokedCount"></td>
    </tr>
    <tr>
      <th>Provoked</th>
      <td data-bind="text: summaryStats.provokedCount"></td>
    </tr>
    <tr>
      <th>Invalid</th>
      <td data-bind="text: summaryStats.invalidCount"></td>
    </tr>
    <tr>
      <th>Boating</th>
      <td data-bind="text: summaryStats.boatingCount"></td>
    </tr>
    <tr>
      <th>Sea Disaster</th>
      <td data-bind="text: summaryStats.seaDisasterCount"></td>
    </tr>
  </table>

  <div class="charts clearfix">
    <div class="pie-chart please-wait" id="incident-type"></div>
    <div class="pie-chart please-wait" id="fatal-and-unprovoked"></div>
  </div>
</div>
