<div class="attack-place-summary">
  <table class="table table-striped place-summary">
    <tr>
      <th>Total</th>
      <td data-bind="text: summaryStats.totalCount"></td>
    </tr>
    <tr>
      <th>Fatal</th>
      <td data-bind="text: summaryStats.fatalCount"></td>
    </tr>
    <tr>
      <th>Unprovoked</th>
      <td data-bind="text: summaryStats.unprovokedCount"></td>
    </tr>
    <tr>
      <th>Fatal and unprovoked</th>
      <td data-bind="text: summaryStats.fatalAndUnprovokedCount"></td>
  </tr>
  </table>

  <div class="charts clearfix">
    <div class="pie-chart please-wait" id="fatal"></div>
    <div class="pie-chart please-wait" id="unprovoked"></div>
    <div class="pie-chart please-wait" id="fatal-and-unprovoked"></div>
  </div>
</div>
